@font-face {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-display: swap;
  src:
  local('Jost-SemiBold'),
    url('../../shared/assets/fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../../shared/assets/fonts/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-display: swap;
  src:
    local('Jost-Regular'),
    url('../../shared/assets/fonts/Jost-Regular.woff2') format('woff2'),
    url('../../shared/assets/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Jost', sans-serif;
  font-display: swap;
  src:
    local('Jost-Bold'),
    url('../../shared/assets/fonts/Jost-Bold.woff2') format('woff2'),
    url('../../shared/assets/fonts/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Jost', sans-serif;
  font-display: swap;
  src:
    local('Jost-Medium'),
    url('../../shared/assets/fonts/Jost-Medium.woff2') format('woff2'),
    url('../../shared/assets/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
