.footer {
  background: #444b58;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 130px;
}

.footer_nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}
.footer_nav > .footer_item:not(:last-child){
    padding-right: 40px;

}
.footer_logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 147%;
  color: #fff;
}
