.productCard {
  margin: 0 auto;
  margin-right: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.productCard:hover .imageWrapper {
  filter: brightness(0.8);
}

.imageWrapper {
  transition: all 0.3s ease;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay span {
  font-weight: 800;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}

.productCard:hover .overlay {
  opacity: 1;
}

.sub_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.productName {
  font-size: 16px;
  line-height: 125%;
  color: #444b58;
  margin-bottom: 6px;
  display: inline-block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.productName:hover{
  text-decoration: underline;
}
.productPrice {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #444b58;
  text-decoration: none;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.actions button {
  background-color: #f36;
  color: white;
  border: none;
  cursor: pointer;
}

.addToCart {
  background-color: #4caf50;
  padding: 15px;
}
.addToCart:hover{
  background-color: #8C2828;
}
